div{
    background-color: rgb(0, 255, 0);
}

#bandeau{
    width: 100%;
    background-color: aqua;
    height: 20px;
}

#contenu{
    width: 100%;
    background-color: yellow;
}

#foot{
    width: 100%;
    background-color: greenyellow;
}