div{
    background-color:brown;
    float: left;
}

#bandeau{
    width: 100%;
    background-color: aqua;
    height: 20px;
    text-align: center;
}
#Corps{
    width: 100%;
}

.Divlongue{
    width: 100%;
}

#contenu{
    width: 100%;
    background-color: yellow;
    height: 910px;
    text-align: center;
}

#foot{
    width: 100%;
    background-color: greenyellow;
    position:absolute;
    bottom:0;
    height: 20px;
    text-align: center;
}