div{
    background-color: aqua;
    float: left;
}

#MenuHaut{
    width: 100%;
    background-color: red;
    height: 200px;
}
#Corps{
    width: 100%;
}
#foot{
    width: 100%;
    background-color: yellow;
    height: 300px;
}

.Divlongue{
    width: 100%;
}

#sousmenuA{
    background-color: blueviolet;
    width: 250px;
    height: 300px;
    float: left;
}

#sousmenuB{
    background-color: chartreuse;
    width: 250px;
    height: 300px;
    float: left;
}